
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}


#container {
	height: 80vh;
	width: 100%;
	clear: both;
}

#code {
	width: 100vw;
	height: 80vh;
}

.CodeMirror {
	height: 80vh !important;
}


/* Mobile */
@media only screen and (max-width: 480px) {


}


/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {


}


/* Desktop */
@media only screen and (min-width: 769px) {


}


.toolbar {
	background-color: #121210;
	display: block;
	height: 50px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.toolbar-button {
	border-radius: 4px;
	border: 1px solid #757575;
	box-shadow: none;
	display: inline-block;
	float: right;
	height: 32px;
	margin: 8px 20px;
	padding: 0;
	width: 32px;
	cursor: pointer;
}

.toolbar-button:hover {
	background-color: #3F3F3F;
	border: 1px solid #525252;
}


.button-build {
	background: url("../svg/build.svg") #5d5d5d center no-repeat;
}

#out {

	border-top: 1px solid #3F3F3F;

	background-color: #000000;
	width: 100%;
	color: #00FF00;
	height: 20vh;
	padding: 10px;
	box-sizing: border-box;
	margin: 0;
	overflow: auto;
}







